<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{{ 'base.title'|trans }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ 'base.description'|trans }}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/resources/css/bootstrap.paper.min.3.3.0.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/resources/css/bootstrap-switch.min.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/resources/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/resources/css/style.css">
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/jquery.flot.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/jquery.flot.resize.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/jquery.flot.time.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/bootstrap.min.3.3.0.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/moment.with.locales.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/resources/js/bootstrap-datetimepicker.min.js"></script>
        <script>
            var yaff = yaff || {};

            yaff.util = {
                setContentModalLoading: function(id) {
                    var content = '<div class="modal-body">' + this.getLoadingAnimation() + '</div>';
                    $(id).html(content);
                },

                getLoadingAnimation: function() {
                    var img = '<img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" />';
                    return img;
                },

                log: function(message) {
                    console.log(message);
                },

                homematicGetPossibleSets: function(deviceJson) {
                  return deviceJson.PossibleSets.split(' ');
                },

                homematicGetPossibleTemps: function(deviceJson) {
                  var possibleSets = yaff.util.homematicGetPossibleSets(deviceJson);
                  var possibleTemps = deviceJson.PossibleSets.split(' ')[2].split(',');
                  possibleTemps[0] = possibleTemps[0].split(':')[1];
                  possibleTemps.push(possibleTemps[0]);
                  possibleTemps.splice(0, 1);

                  return possibleTemps;
                },

                homematicGetPossibleModes: function(deviceJson) {
                  var possibleSets = yaff.util.homematicGetPossibleSets(deviceJson);
                  var modesArray = possibleSets[3].split(',');
                  modesArray[0] = modesArray[0].split(':')[1];

                  return modesArray;
                },

                homematicGetCurrentMode: function(deviceJson) {
                  return deviceJson.Readings['controlMode'].Value;
                },

                homematicGetCurrentStatus: function(deviceJson) {
                  return deviceJson.Readings.state.Value;
                },

                homematicGetDesiredTemp: function(jsonDevice) {
                  return jsonDevice.Readings['desired-temp'].Value;
                },

                homematicGetDeviceName: function(jsonDevice) {
                  return jsonDevice.Name;
                }
            }
            
            yaff.partymode = {
                getPartySetupModal: function() {
                    var url = '{{ path('yaff.partymode.init') }}';
                    var idModal = '#modal-party-content-ajax';
                    yaff.util.setContentModalLoading(idModal);
                    
                    $(idModal).load(url, function(data) {
                        $(idModal).html(data);
                    });
                }
            }
        </script>
    {% endblock %}
    <!--<link rel="icon" type="image/x-icon" href="" />-->
</head>
<body>
{% block body %}
    <div class="modal fade" id="newPartyModal">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-party-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'dashboard.partymode.setup'|trans }}</h4>
                </div>
                <div id="modal-party-content-ajax"></div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    {% block menu %}
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('yaff.dashboard') }}">{{ 'nav.title'|trans }}</a>
            </div>
            <div style="" aria-expanded="true" class="navbar-collapse navbar-inverse-collapse collapse in">
                <ul class="nav navbar-nav">
                  <li><a href="{{ path('yaff.dashboard') }}">{{ 'nav.dashboard'|trans }}</a></li>
                  <li><a href="{{ path('yaff.thermostats') }}">{{ 'nav.thermostats'|trans }}</a></li>
                    <li><a href="#" onclick="yaff.partymode.getPartySetupModal()" data-toggle="modal" data-target="#newPartyModal">{{ 'nav.partymode'|trans }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                        class="glyphicon glyphicon-wrench"></span> {{ 'nav.settings'|trans }} <b
                                        class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('users.overview') }}"><span
                                                class="glyphicon glyphicon-user"></span> {{ 'nav.users'|trans }}</a>
                                </li>
                                <li><a href="{{ path('generalconfig.overview') }}"><span
                                                class="glyphicon glyphicon-cog"></span> {{ 'nav.generalconfig'|trans }}
                                    </a></li>
                                <li><a href="{{ path('fhemconfig.overview') }}"><span
                                                class="glyphicon glyphicon-home"></span> {{ 'nav.fhemconfig'|trans }}
                                    </a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown">{{ 'nav.welcome'|trans({ '%user%': app.security.getToken().getUser().getUsername() }) }}
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('logout') }}"><span
                                            class="glyphicon glyphicon-off"></span> {{ 'nav.logout'|trans }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block flashMessage %}
        <div class="container-fluid">
            <div class="row" id="flash-message-container">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="col-md-10 col-md-offset-1">
                            <div class="alert alert-{{ type }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;</button>
                                {{ flashMessage|trans }}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}

    {% block content %}{% endblock %}

{% endblock %}
</body>
</html>
