<form id="create-widget-graph" class="form-horizontal" role="form" onsubmit="">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row" id="flash-message-overlay">
                <div class="row">
                </div>
            </div>
            <div class="col-md-11">
                <div class="form-group">
                    <label for="inputDevice" class="col-sm-4 control-label">{{ 'dashboard.create.widget.graph.device'|trans }}</label>
                    <div class="col-sm-8">
                        <select id="device" name="device">
                            {% for device in devices %}
                                <option value="{{ attribute(device, 'Name') }}">{{ attribute(device, 'Name') }}</option>
                            {% endfor %}
                        </select>
                    </div>                        
                </div>
                <div class="form-group">
                    <label for="inputReadings" class="col-sm-4 control-label">{{ 'dashboard.create.widget.graph.readings'|trans }}</label>
                    <div class="col-sm-8">
                        <select name="reading">
                        </select>
                    </div>
                </div>        
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'button.cancel'|trans }}</button>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"/>
        <input name="_csrf_token" value="{{ token }}" type="hidden">
    </div>
</form>
<script>
    yaff.dashboard.createOptionsReadings = function() {
        var devices = {{ devices|json_encode()|raw }};
        alert(devices);
    }
</script>