{% extends 'Base/Views/base.html.twig' %}

{% block title %}
    {{ 'dashboard.title'|trans }}
{% endblock %}

{% block description %}
    {{ 'dashboard.description'|trans }}
{% endblock %}

{% block content %}
    <div class="modal fade" id="newWidgetModal">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'dashboard.modal.add'|trans }}</h4>
                </div>
                <div id="modal-content-ajax"></div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="container-fluid">
        <div class="row" id="yaff-dashboard-content" data-column-count="{{ config.columns }}" data-max-widget-count="{{ config.rows * config.columns }}">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row" id="dashboard-menu-bar" style="display: none;">
                    <div class="btn-group">
                    <button type="button" id="yaff-dashboard-create-widget" class="btn btn-default" onclick="yaff.dashboard.modalCreateWidget()" data-toggle="modal" data-target="#newWidgetModal"><span class="glyphicon glyphicon-plus"></span> {{ 'dashboard.modal.add'|trans }}</button>
                    </div>
                    <hr>
                </div>
                {% set counter = 0 %}
                {% for i in 1..config.rows %}
                    {% if widgets[counter] is defined %}
                        <div class="row">
                            {% for j in 1..config.columns %}
                                {% if widgets[counter] is defined %}
                                    <div class="col-sm-{{ 12 / config.columns }} yaff-widget" data-yaff-widget-index="{{ counter }}">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                {{ widgets[counter].title }}
                                                <div class="widget-menu-bar btn-group" style="float: right; display:none;">
                                                    <button type="button" class="btn btn-default btn-xs yaff-widget-move-left" aria-label="Left Align" onclick="return yaff.dashboard.moveWidget({{ widgets[counter].id }}, 'left', this)" {% if counter == 0 %} style="display: none;" {% endif %}>
                                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-xs" aria-label="Center Align" onclick="return yaff.dashboard.modalEditWidgetGraph({{ widgets[counter].id }})" data-toggle="modal" data-target="#newWidgetModal">
                                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-xs" aria-label="Center Align" onclick="return yaff.dashboard.deleteWidget({{ widgets[counter].id }})">
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-xs yaff-widget-move-right" aria-label="Right Align" onclick="return yaff.dashboard.moveWidget({{ widgets[counter].id }}, 'right', this)" {% if widgets[counter + 1] is not defined %} style="display: none;" {% endif %}>
                                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                {% if widgets[counter].type == 1 %}
                                                    <div class="yaff-widget-graph" data-yaff-widget-device="{{ widgets[counter].device}}" data-yaff-widget-reading="{{ widgets[counter].reading}}" data-yaff-widget-interval="{{ widgets[counter].interval}}" style="height: 200px"><img src="{{ app.request.basepath }}/resources/images/ajax-loader.gif" /></div>
                                                {% endif %}
                                                {% if widgets[counter].type == 2 %}
                                                    {% for device in widgets[counter].devices %}
                                                      {% if device.getDeviceType() == 'thermostat' %}
                                                        {{ device.name }} {{ device.getDeviceType() }}
                                                      {% endif %}
                                                    {% endfor %}
                                                    {% set firstSwitch = false %}
                                                    {% for device in widgets[counter].devices %}
                                                      {% if device.getDeviceType() == 'powerMeter' %}
                                                        {% if firstSwitch == false %}
                                                          <hr>
                                                          {% set firstSwitch = true %}
                                                        {% endif %}
                                                        <div class="row">
                                                          <div class="col-md-5 col-md-offset-1">
                                                            {{ device.name }}
                                                          </div>
                                                          <div class="col-md-5 col-md-offset-1">
                                                            <span name="switch_tooltip" id="{{ device.name }}_tooltip" data-toggle="tooltip" data-placement="top" data-trigger="manual" data-delay='{ "show": 500, "hide": 100 }' title="">
                                                              <input type="checkbox" id="{{ device.name }}" name="switch" data-inverse="true" data-size="mini" checked>
                                                            </span>
                                                          </div>
                                                        </div>
                                                      {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% set counter = counter + 1 %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <a href="#" id="button-toggle-edit" onclick="return yaff.dashboard.switchEditMode()">{{ 'dashboard.edit.mode.off'|trans }}</a>
            </div>
        </div>
    </div>
    <div id='tooltip'></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        yaff.dashboard = {
            /**
             * Builds the url for the "create a widget" dialog and calls the request method
             */
            modalCreateWidget: function() {
                var url = '{{ path('yaff.dashboard.create.widget') }}';
                callback = function() {};
                this.modalLoadWidgetForm(url, callback);
            },

            /**
             * Builds the url for the "create a graph widget" dialog and calls the build callback method
             */
            modalCreateWidgetGraph: function() {
                var url = '{{ path('yaff.dashboard.create.widget.graph') }}';
                this.modalLoadWidgetGraph(url);
            },

            /**
             * Builds the url for the "edit a graph widget" dialog and calls the build callback method
             */
            modalEditWidgetGraph: function(id) {
                var url = '{{ path('yaff.dashboard.edit.widget.graph', {id: 'idPlaceholder'}) }}';
                url = url.replace('idPlaceholder', id);
                this.modalLoadWidgetGraph(url);
            },

            /**
             * Builds the callback function for the "create / edit a graph widget" request and calls the request method
             */
            modalLoadWidgetGraph: function(url, callback) {
                callback = function() {
                    $('#device').change(yaff.dashboard.createOptionsReadings);
                    $('#reading').change(yaff.dashboard.getCurrentReadingValue);
                    yaff.dashboard.createOptionsReadings();
                };
                this.modalLoadWidgetForm(url, callback);
            },

            /**
             * Builds the url for the "create a room widget" dialog and calls the build callback method
             */
            modalCreateWidgetRoom: function() {
                var url = '{{ path('yaff.dashboard.create.widget.room') }}';
                callback = function() {
                    yaff.util.log("Done");
                }
                this.modalLoadWidgetForm(url, callback);
            },

            /**
             * Starts the request for the passed url and calls the provided callback function when the request was successful
             */
            modalLoadWidgetForm: function(url, callback) {
                var idModal = '#modal-content-ajax';
                yaff.util.setContentModalLoading(idModal);
                $(idModal).load(url, function() {
                    callback();
                });
            },

            /**
             * Formats the data and draws the graph at the given widget
             * @param {array} values
             * @param {jQuery} widget
             */
            drawWidgetGraph: function(values, widget, reading) {
                var chartData = [];
                var minValue;
                var maxValue;
                for(i = 0; i < values.data.length; i++) {
                    var tempValue = parseFloat(values.data[i]["VALUE"]);
                    chartData.push([new Date(values.data[i].TIMESTAMP.replace(" ", "T") + "+01:00").getTime(), tempValue]);
                    if(i == 0) {
                        minValue = tempValue;
                        maxValue = tempValue;
                    } else {
                        if(tempValue < minValue) minValue = tempValue;
                        if(tempValue > maxValue) maxValue = tempValue;
                    }
                }
                $.plot(widget, [chartData], {
                    series: {
                        lines: {
                            show: true
                        },
                        points: {
                            show: false
                        }
                    },
                    grid: {
                        hoverable: true,
                        clickable: true
                    },
                    yaxis: {
                        max: maxValue + 2,
                        min: minValue - 2
                    },
                    xaxis: {
                        mode: "time",
                        timezone: "browser",
                        min: (chartData[0][0]),
                        max: (chartData[chartData.length - 1][0])
                    }
                });
                $("#tooltip").css({
                    position: "absolute",
                    display: "none",
                    border: "1px solid #fdd",
                    padding: "2px",
                    "background-color": "#fee",
                    opacity: 0.80
                }).appendTo("body");
                widget.bind("plothover", function (event, pos, item) {
                    if(item != null) {
                        $("#tooltip").html(new Date(item.datapoint[0]).toLocaleString() + " " + reading + ": " + item.datapoint[1])
                                .css({top: item.pageY+5, left: item.pageX+5})
                                .fadeIn(200);
                    } else {
                        $("#tooltip").hide();
                    }
                });
            },

            /**
             * Searches for graph widgets, fetches the information from FHEM and starts drawing the graph
             */
            createWidgetGraphs: function() {
                var graphWidgets = $('.yaff-widget-graph');
                for(var i = 0; i < graphWidgets.length; i++) {
                    var widget = $(graphWidgets[i]);
                    var device = widget.data('yaffWidgetDevice');
                    var reading = widget.data('yaffWidgetReading');
                    var interval = widget.data('yaffWidgetInterval');
                    var url = "{{ path('yaff.fhem.getValues', {device: 'devicePlaceholder', type: 'readingPlaceholder', seconds: 'secondsPlaceholder'}) }}";
                    url = url.replace('devicePlaceholder', device);
                    url = url.replace('readingPlaceholder', reading);
                    url = url.replace('secondsPlaceholder', interval);

                    // saves the current widget in the loop an passes it to the drawWidgetGraph method
                    (function(widget) {
                        $.get(url, function(values) {
                            yaff.dashboard.drawWidgetGraph(values, widget, reading);
                        });
                    })(widget);
                }
            },

            /**
             * Toggles the edit mode of the widgets
             */
            switchEditMode: function() {
                var widgetMenuBars = $('.widget-menu-bar');
                var menubar = $('#dashboard-menu-bar');
                var buttonToggleEdit = $('#button-toggle-edit');
                if(menubar.is(':visible')) {
                    for(var i = 0; i < widgetMenuBars.length; i++) {
                        $(widgetMenuBars[i]).hide();
                    }
                    buttonToggleEdit.html('{{ 'dashboard.edit.mode.off'|trans }}');
                    menubar.hide();
                } else {
                    if($("#yaff-dashboard-content").data("max-widget-count") == $(".yaff-widget").length) {
                        if(!$("#yaff-dashboard-create-widget").prop('disabled')) {
                            $("#yaff-dashboard-create-widget").prop( "disabled", true );
                            $("#yaff-dashboard-create-widget").html($("#yaff-dashboard-create-widget").html() + " ({{ 'dashboard.max.widgets'|trans }})");
                        }
                    }
                    for(var i = 0; i < widgetMenuBars.length; i++) {
                        $(widgetMenuBars[i]).show();
                    }
                    buttonToggleEdit.html('{{ 'dashboard.edit.mode.on'|trans }}');
                    menubar.show();
                }
            },

            /**
             * Starts the delete request for the widget with the passed id and reloads the page
             * @param {type} id the widget id
             */
            deleteWidget: function(id) {
                var url = "{{ path('yaff.dashboard.delete.widget', {id: 'placeholder'}) }}";
                url = url.replace('placeholder', id);
                $.get(url, function() {
                    location.reload();
                });
            },

            /**
             * Starts the move widget request for the widget with the given id and the given direction and reloads the page
             * @param id the widget id
             * @param direction the direction 'left' or 'right'
             */
            moveWidget: function(id, direction, obj) {
                var url = "{{ path('yaff.dashboard.move.widget', {id: 'placeholderId', direction: 'placeholderDirection'}) }}";
                var index = parseInt($(obj.parentNode.parentNode.parentNode.parentNode).attr("data-yaff-widget-index"));
                var columns = parseInt($("#yaff-dashboard-content").data("column-count"));
                url = url.replace('placeholderId', id);
                url = url.replace('placeholderDirection', direction);
                $.get(url, function() {
                    var widget = $('div[data-yaff-widget-index="' + index + '"]');
                    var widgetAfter = $('div[data-yaff-widget-index="' + (index + 1) + '"]');
                    var widgetBefore = $('div[data-yaff-widget-index="' + (index - 1) + '"]');
                    if(direction == 'left') {
                        widget.detach().insertBefore(widgetBefore);
                        widget.attr('data-yaff-widget-index', (index - 1));
                        widgetBefore.attr('data-yaff-widget-index', index);
                    }
                    if(direction == 'right') {
                        if((index + 1) % columns == 0) {
                            widget.detach().insertBefore(widgetAfter);
                            widgetAfter.detach().insertAfter(widgetBefore);
                        } else {
                            widget.detach().insertAfter(widgetAfter);
                        }
                        widget.attr('data-yaff-widget-index', (index + 1));
                        widgetAfter.attr('data-yaff-widget-index', index);
                    }

                    // reset edit menu bars at the widget
                    $('.yaff-widget-move-left').css('display', 'inline-block');
                    $('.yaff-widget-move-right').css('display', 'inline-block');
                    $($('.yaff-widget-move-left')[0]).css('display', 'none');
                    $($('.yaff-widget-move-right')[$('.yaff-widget-move-right').length-1]).css('display', 'none');
                }).fail(function(data) {
                    location.reload();
                    yaff.util.log("Error: " + data);
                });
            },

            /**
             * Fetches the state of every switch in the dashboard and toggles its state if needed
             */
            getSwitchState: function() {
              var switches = $("[name='switch']");
              var requestFunc = function(url, switchDevice) {
                $.get(url, function(data) {
                  if(data == "off") {
                    $(switchDevice).bootstrapSwitch('toggleState', true);
                  }
                });
              }

              for (var i = 0; i < switches.length; i++) {
                var url = "{{ path('yaff.fhem.getDeviceState', {device: 'placeholder'}) }}";
                url = url.replace('placeholder', $(switches[i]).attr('id'));

                requestFunc(url, switches[i]);
              }
            },

            /**
             * Toggles the actual state of the switch.
             * @param String device the device name
             */
            toggleSwitch: function(device) {
              var url = "{{ path('yaff.fhem.switch.toggle', {device: 'placeholder'}) }}";
              url = url.replace('placeholder', device);

              $.get(url, function() {
                var tooltip = '#' + device + '_tooltip';
                $(tooltip).prop('title', "State toggled successfully").tooltip().tooltip('show');
                yaff.util.log('Switched state successful');
                setTimeout(function() {
                  $(tooltip).tooltip('hide');
                }, 2000);
              });
            }
        }

        /**
         * This function executes tasks which have to be run after the DOM has been successfully loaded.
         */
        $(document).ready(function() {
          var switches = $("[name='switch']");
          switches.bootstrapSwitch();
          switches.on('switchChange.bootstrapSwitch', function(event, state) {
            yaff.dashboard.toggleSwitch($(this).attr('id'));
          });
          yaff.dashboard.getSwitchState();
          yaff.dashboard.createWidgetGraphs();
        });
    </script>
{% endblock %}
